pip
setuptools
wheel
apscheduler
boltons
cachetools
click
elasticsearch
elasticsearch-dsl
fastapi[all]
flask
flask-injector
flask-sqlalchemy
flatten-dict
gunicorn
hashids
injector
jinja2
kombu
markdown2
mysql-connector-python
pika
pillow
psycopg2-binary
pyfcm
pymongo
python-barcode
python-consul
pytz
pyyaml
qrcode
redis
starlette==0.12.9
sqlalchemy
httplib2
oauth2client
apiclient
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
certifi
chardet
google-auth
idna
oauthlib
pyasn1
pyasn1-modules
requests-oauthlib
rsa
urllib3
uritemplate
