pip==19.0.3
wheel==0.33.6
setuptools==40.8.0
kombu
sqlalchemy
fastapi
uvicorn
starlette==0.12.9
injector
boltons
redis
pydantic
requests
qrcode
Pillow
python-consul
pymongo
email-validator
psycopg2-binary
psycopg2
elasticsearch
elasticsearch_dsl
python-barcode
httplib2
oauth2client
apiclient
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
cachetools
certifi
chardet
google-auth
idna
oauthlib
pyasn1
pyasn1-modules
requests-oauthlib
rsa
urllib3
uritemplate
